[package]
name = "lpl-noop"
version = "0.2.0"
description = "Lumos Program Library No-op Program"
authors = ["Gao Kanxu <gaokanxu@gmail.com>"]
repository = "https://github.com/gaokanxu/lumos"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[features]
no-entrypoint = []
cpi = ["no-entrypoint"]
default = []

[dependencies]
lumos-program = ">=1.18.11,<=2"
