[package]
name = "lpl-type-length-value"
version = "0.5.0"
description = "Lumos Program Library Type-Length-Value Management"
authors = ["Gao Kanxu <gaokanxu@gmail.com>"]
repository = "https://github.com/gaokanxu/lumos"
license = "Apache-2.0"
edition = "2021"
exclude = ["js/**"]

[features]
derive = ["dep:lpl-type-length-value-derive"]

[dependencies]
bytemuck = { version = "1.16.1", features = ["derive"] }
lumos-program = { workspace = true }
lpl-discriminator = { version = "0.3.0", path = "../discriminator" }
lpl-program-error = { version = "0.5.0", path = "../program-error" }
lpl-type-length-value-derive = { version = "0.1", path = "./derive", optional = true }
lpl-pod = { version = "0.3.0", path = "../pod" }

[lib]
crate-type = ["cdylib", "lib"]

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
